<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<nav th:insert="fragments.html :: nav"></nav>
<div class="container">
    <h3 th:if="${#lists.isEmpty(offers)}">There isn't any open offer. Be first!</h3>
    <span th:unless="${#lists.isEmpty(offers)}">
        <h3>Open offers</h3>
        <table class="table table-striped">
            <tbody>
            <tr th:each="offer: ${offers}">
                <td th:text="${offer.name}"></td>
                <td th:text="${offer.description}"></td>
                <td th:text="${offer.creationDate}"></td>
                <td th:text="${offer.user.name}"></td>
            </tr>
            </tbody>
        </table>
    </span>
</div>
</body>
</html>