<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Create object</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<nav th:insert="fragments.html :: nav"></nav>

<div class="container">
    <div class="w-75 mt-5 mx-auto">
        <div class="card">
            <h3 class="card-header">
                <i class="fa fa-user"></i> Respond to offer
            </h3>
            <div class="card-block p-5">
                <table class="table table-striped p-5">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Creation date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${offer.name}"></td>
                        <td th:text="${offer.description}"></td>
                        <td th:text="${offer.creationDate}"></td>
                    </tr>
                    </tbody>
                </table>

                <form action="#" th:action="@{/offers/request/{id}(id=${offer.id})}" th:object="${offerRequest}"
                      method="post" onsubmit="return validateRequestForm(this);">
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input th:field="*{description}" type="text" class="form-control" id="Description"
                               name="Description"
                               placeholder="Description" maxlength="32">
                    </div>

                    <div class="mt-3">Select</div>
                    <fieldset>
                        <span>
                            <input name="select" type="radio" id="selectObject" value="selectObject" onClick="changeSelect(this)" checked>
                            <label for="selectObject" class="ml-2">Object</label>
                        </span>
                        <span>
                            <input name="select" type="radio" id="selectService" value="selectService" onClick="changeSelect(this)">
                            <label for="selectService" class="ml-2">Service</label>
                        </span>
                    </fieldset>

                    <div id="objects">
                        <div class="mt-2">Objects</div>
                        <fieldset>
                            <div th:each="object : ${objects}">
                                <input name="objectId" type="radio" th:id="'object' + ${object.id}" th:value="${object.id}">
                                <label th:for="'object' + ${object.id}" class="ml-2" th:text="${object.name}"></label>
                            </div>
                            <span id="warning-container-object" class="text-danger warning-container"></span>
                        </fieldset>
                    </div>

                    <div id="services" class="d-none">
                        <div class="mt-2">Services</div>
                        <fieldset>
                            <div th:each="service : ${services}">
                                <input name="serviceId" type="radio" th:id="'service' + ${service.id}" th:value="${service.id}">
                                <label th:for="'service' + ${service.id}" class="ml-2" th:text="${service.name}"></label>
                            </div>
                            <span id="warning-container-service" class="text-danger warning-container"></span>
                        </fieldset>
                    </div>

                    <div class="form-actions" style="margin-top: 12px;">
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/validation.js}"></script>
<script th:src="@{/js/request_validation.js}"></script>
<script>
    function changeSelect(element) {
        let services = document.getElementById('services')
        let objects = document.getElementById('objects')
        let serviceRadios = document.querySelectorAll('input[name=serviceId]')
        let objectRadios = document.querySelectorAll('input[name=objectId]')

        if (element.value == 'selectObject') {
            services.classList.add('d-none')
            objects.classList.remove('d-none')
            serviceRadios.forEach(element => element.checked = false)
        } else if (element.value == 'selectService') {
            services.classList.remove('d-none')
            objects.classList.add('d-none')
            objectRadios.forEach(element => element.checked = false)
        }
    }
</script>
</body>
</html>