<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Objects</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<nav th:insert="fragments.html :: nav"></nav>
<div class="container">
    <h3 th:if="${#lists.isEmpty(objects)}">You don't have added object</h3>
    <span th:unless="${#lists.isEmpty(objects)}">
<h3>Your objects</h3>
<table class="table table-striped">
    <tbody>
    <tr th:each="object: ${objects}">
        <td th:text="${object.name}"></td>
        <td th:text="${object.description}"></td>
        <td th:text="${object.image}"></td>
        <td>
            <span th:if="${object.state == T(sharing.dormitory.db.enm.ObjectState).IN_STOCK}">In stock</span>
            <span th:if="${object.state == T(sharing.dormitory.db.enm.ObjectState).SHARED}">Shared</span>
        </td>
        <td style="font-size: 20pt">
            <a th:href="@{/objects/delete/{id}(id=${object.id})}" class="btn-close" aria-label="Close"></a>
        </td>
    </tr>
    </tbody>
</table>
</span>
    <h3>Add new object</h3>
    <form action="#" th:action="@{/objects/create}" th:object="${newObject}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" name="name"
                   placeholder="name">
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <input th:field="*{description}" type="text" class="form-control" id="Description" name="Description"
                   placeholder="Description">
        </div>

        <div class="form-actions" style="margin-top: 12px;">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>
</div>
</body>
</html>