<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<nav th:insert="fragments.html :: nav"></nav>
<div class="container">
    <h3 th:if="${#lists.isEmpty(offers)}">You don't have added offers</h3>
    <span th:unless="${#lists.isEmpty(offers)}">
        <h3>Open offers</h3>
        <table class="table table-striped">
            <tbody>
            <tr th:each="offer: ${offers}">
                <td th:text="${offer.name}"></td>
                <td th:text="${offer.description}"></td>
                <td th:text="${offer.creationDate}"></td>
            </tr>
            </tbody>
        </table>
    </span>
    <h3>Add new object</h3>
    <form action="#" th:action="@{/offers/create}" th:object="${newOffer}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" name="name"
                   placeholder="name">
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <input th:field="*{description}" type="text" class="form-control" id="Description" name="Description"
                   placeholder="Description">
        </div>

        <div class="form-actions" style="margin-top: 12px;">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>
</div>
</body>
</html>