<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Dormitory Sharing</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
    <nav th:insert="fragments.html :: nav"></nav>

    <div class="container">
        <div class="w-100 mt-5 mx-auto">
            <div class="card">
                <h3 class="card-header fw-bold" th:text="${offer.name}">
                </h3>
                <div class="card-block p-5 h4">
                    <div>Description: <span th:text="${offer.description}"></span></div>
                    <div>Created: <span th:text="${offer.creationDate}"></span></div>
                    <div>Status:
                        <span th:if="${offer.offerStatus == T(sharing.dormitory.db.enm.Status).OPEN}" class="text-primary">Open</span>
                        <span th:if="${offer.offerStatus == T(sharing.dormitory.db.enm.Status).CANCELED}" class="text-danger">Canceled</span>
                        <span th:if="${offer.offerStatus == T(sharing.dormitory.db.enm.Status).RESOLVED}" class="text-success">Resolved</span>
                    </div>
                    <div>Author: <span th:text="${offer.user.username}"></span></div>
                    <div class="mt-3">
                        <form th:if="${offer.user.username != userName}" method="get"
                              th:action="@{/offers/request/{id}(id=${offer.id})}">
                            <button class="btn btn-success" type="submit">Respond</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card mt-5 mb-5">
                <h3 class="card-header fw-bold">
                    Requests
                </h3>
                <div class="card-block h4">
                    <div th:if="${#lists.isEmpty(requests)}" class="table table-striped p-5">
                        <h3>There aren't any requests for this suggestion</h3>
                    </div>
                </div>
                <div th:unless="${#lists.isEmpty(requests)}">
                    <div id="toolbar">
                    </div>
                    <table class="table table-striped table-bordered table-hover p-5 text-center"
                           data-toolbar="#toolbar"
                           data-toggle="table"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="false"
                           data-show-columns="true"
                           data-show-pagination-switch="true"
                           data-pagination="true"
                           data-page-size="10"
                           data-page-list="[1, 5, 10, 20, 45, ALL]"
                           data-show-multi-sort="true"
                           data-sort-order="asc"
                           data-sort-name="test_status">
                        <thead class="bg-secondary">
                        <tr>
                            <th data-field="name" scope="col" class="text-white table-col-3" data-sortable="true">Name</th>
                            <th data-field="description" scope="col" class="text-white table-col-6" data-sortable="true">Description</th>
                            <th data-field="actions" scope="col" class="text-white table-col-3" data-sortable="false">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="request: ${requests}">
                            <td class="text-black" th:text="${request.name}"></td>
                            <td class="text-black" th:text="${request.content}"></td>
                            <td class="text-black" style="font-size: 20pt">
                                <div th:if="${offer.offerStatus == T(sharing.dormitory.db.enm.Status).OPEN}" class="text-danger">
                                    <form th:if="${offer.user.username == userName}" method="post" th:action="@{/offers/request/approve/{id}(id=${request.id})}">
                                        <button type="submit" class="btn btn-primary my-2 my-sm-0 btn-sm">Approve</button>
                                    </form>
                                    <form th:if="${request.user.username == userName}" method="post" th:action="@{/offers/request/delete/{id}(id=${request.id})}">
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/thirdparty/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/thirdparty/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/thirdparty/bootstrap-table.js}"></script>
    <script th:src="@{/js/thirdparty/bootstrap-table-multiple-sort.js}"></script>
</body>
</html>
